* {
    border: none;
    border-radius: 1px;
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: Roboto, Helvetica, Arial, sans-serif;*/
    font-family: Nerd Font Hack;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(28, 28, 28, 0.85);
    /*background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #ffffff;
    
    /*transition-property: background-color;
    transition-duration: .5s;*/
}

window#waybar.hidden {
    opacity: 0.9;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}


#workspaces {

        margin-left: 12px;
        margin-bottom: 0;
        border-radius: 26px;
        background: #282a36;
        transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #9aedfe;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 3 3px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #E9E3DC;
    font-size: 17px;
    padding: 0 10px;
    margin: 5 5px;
    font-weight: bold;
}

#battery {
    color: #69e0b5;
    
}

#battery.charging {
    color: #05ffa3;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #87BB5F;
    
}

#memory {
    color: #9CB2C8;
}

#backlight {
    color: #42affc;
}

#network {
    color: #dfdce8;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    color: #d0d492;
    
}

#pulseaudio.muted {
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    color: #f7a09e;
}

#temperature.critical {
    background-color: #eb4d4b;
    color: #ffffff;
}

#tray {
    /*background-color: #011d29;*/
    border-bottom: 2px solid #ffffff;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    color: #66cc99;
}

#mpd.disconnected {
    color: #f53c3c;
}

#mpd.stopped {
    color: #90b1b1;
}

#mpd.paused {
    color: #51a37a;
}

#language {
    color: #e573a8;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}
